@model IEnumerable<Category>

<div class="container">
    <div class="row pt-4 pb-2">
        <div class="col-6">
            <h1 class="text-primary">Category List</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus"></i> Create New Category</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Category category in this.Model.OrderBy((c) => c.DisplayOrder))
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.DisplayOrder</td>
            </tr>
        }
    </tbody>
</table>